
    <h1 style="color:green;">ICIC BANK</h1>
    <h2 style="color:purple;">FUND TRANSFER PAGE</h2>



    <div class="container">
    <!-- to create a form acc no. -->
    <form>
      <div class="form-group">
        <label class="control-label col-sm-4">TRANSFER ACC NO:</label>
        <small style="color:orange;">TOTAL AVAILABE BAL: 3,500</small>
        <div class="col-sm-10">
            <input type="value" class="form-control" id="default" placeholder="ACFF235787" name="accno">
        </div>
      </div>

      <br>
      <br>
      <!-- to create a form remarks -->
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">REMARKS:</label>
        <div class="col-sm-10">          
          <input type="text" class="form-control" id="opt" placeholder="optional" name="remarks">
        </div>
      </div>
      <br>
      <br>


      <div class="form-group"> 
      <label for="calendar">CALENDAR:</label>
       <input type="date" id="calendar" name="calendar">
        </div>
        <br>
        <br>

        <label for="paymenttype">PAYMENT TYPE:</label>
        <select>
          <option value="select">--select--</option> 
        <option value="one-time">one-time</option>
         <option value="Recurring"> recurring</option>
        </select>
        <br>
        <br>


        <label for="transferto">TRANSFER TO:</label>
        <select> 
        <option value="DHJK34567">DHJK34567</option>
         <option value="BNC3936578"> BNC3936578</option>
        </select>
        
  
       <br>
       <br>
      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
  
