
    <br>  
    <br>  
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">  
        

    <label> Firstname </label>         
    <input type="text" formControlName="firstname" size="15"/> <br> <br>  
    <label> Middlename: </label>     
    <input type="text" formControlName="middlename" size="15"/> <br> <br>  
    <label> Lastname: </label>         
    <input type="text" formControlName="lastname" size="15"/> <br> <br>  
      
    
    <button class="button" type="submit">submit</button>  
    </form>
