<br> 
<h2> REGISTRATION FORM</h2> 
<br>  
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()"> 
     
        <label> Firstname </label>         
        <input type="text" formControlName="firstname" size="15"/> <br> <br>  
        <label> Middlename: </label>     
        <input type="text" formControlName="middlename" size="15"/> <br> <br>  
        <label> Lastname: </label>         
        <input type="text" formControlName="lastname" size="15"/> <br> <br>  
        
     <label>Enter your email:</label>
    g <input type="text"  formControlName="email" ngModel/><br><br> 
      

     
       <!-- <label>   
       loantype :  
      </label>   
      <select>  
      <option formControlvalue="Car loan">Car loan</option>  
      <option formControlvalue="Education loan">Education loan</option>  
      <option formControlvalue="home loan">Home loan</option>  
      <option formControlvalue="jewells loan">jewells loan</option>  
      <option formControlvalue="personal loan">personal loan</option>  
      <option formControlvalue="agricultural loan">agricultural loan</option>  
      <option formControlvalue="other">other</option>  
      </select>  
        
       <br>  
      <br>  
      <label>   
      Gender:  
      </label><br>  
      <input type="radio" formControlName="male"/> Male <br>  
      <input type="radio" formControlName="female"/> Female <br>  
      <input type="radio" formControlName="other"/> Other  
      <br>  
      <br>  
        
      <label>   
      Phone:  
      </label>  
        
      <input type="text" formControlName="phone" size="10"/> <br> <br>
    </div>  -->

      <button class="button" type="submit">submit</button>
  
 
</form>
