
<button type="button" name="button" (click)="getitemsFromService1()">Employee1</button>
<u1 class="list-group">

    <li ngFor = "let items of itemReceived1" class="list-group-items">{{items1}}</li>
</u1>
<button type="button" name="button" (click)="getitemsFromService2()">Employee2</button>
<u1 class="list-group">

    <li ngFor = "let items of itemReceived2" class="list-group-items">{{items2}}</li>
</u1>
<button type="button" name="button" (click)="getitemsFromService3()">Employee3</button>
<u1 class="list-group">

    <li ngFor = "let items of itemReceived3" class="list-group-items">{{items3}}</li>
</u1>
